<!DOCTYPE html>
<html>
<head>
<title>Weather Dashboard</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="icon" sizes="192x192" href="{{ url_for('static', filename='android-chrome-192x192.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
<link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/dashboard.css"> <!--https://www.w3schools.com/w3css/4/w3.css"> -->
<link rel="stylesheet" href="static/common_navbar.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/e1d7788428.js" crossorigin="anonymous"></script>
<style>
html, body {
    font-family: "Raleway", sans-serif;
}
.w3-main h1, .w3-main h2, .w3-main h3, .w3-main h4, .w3-main h5 {
    font-family: "Raleway", sans-serif;
}
.common_navbar, .common_navbar a {
    font-family: 'Roboto', sans-serif !important;
}
.table-responsive {
      overflow-x: auto;
    }
    .custom-center {
      margin: 0 auto;
      width: auto; /* Adjust the width as needed */
    }
    .plot-image {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    }
</style>
</head>
<!-- <body class="w3-light-grey"> -->
<body class="w3-white">

<!-- Sidenav/menu -->
<nav class="sidenav" id="mySidenav">
  <div class="sidenav-header">
    <h4 class="sidenav-title">Navigation</h4>
    <button class="close-btn" id="close-sidenav-btn"><i class="fa-solid fa-xmark"></i></button>
  </div>
  <a href="https://weather-dashboard-728445650450.europe-west2.run.app/" class="w3-bar-item w3-button w3-padding"><i class="fa-solid fa-dashboard fa-fw"></i>  Summary</a>
  <a href="https://interactive-dashboard-728445650450.europe-west2.run.app/" class="w3-bar-item w3-button w3-padding"><i class="fa-solid fa-magnifying-glass-chart fa-fw"></i>  Dashboard</a>
  <a href="https://weather-chat-728445650450.europe-west2.run.app/" class="w3-bar-item w3-button w3-padding"><i class="fa-solid fa-comments fa-fw"></i>  Chatbot</a>
  <a href="https://display-weather-data-728445650450.europe-west2.run.app/" class="w3-bar-item w3-button w3-padding"><i class="fa-solid fa-database fa-fw"></i>  Data</a>
  <a href="https://europe-west1-weathercloud-460719.cloudfunctions.net/weather-image-classifier" class="w3-bar-item w3-button w3-padding"><i class="fa-solid fa-camera-retro fa-fw"></i>  Image Classifier</a>
</nav>

<!-- Top container -->
<div class="common_navbar">
  <button class="hamburger-button" id="hamburger-btn">
    <i class="fa fa-bars"></i>
  </button>
  <span class="navbar-title"><i class="{{ page_icon | default('fa-solid fa-cloud-sun-rain') }} fa-fw"></i> {{ page_title | default('Weather Station') }}</span>
</div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:10px;margin-top:43px;">

  {% block content %}{% endblock %}
 
  <!-- End page content -->
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const hamburgerBtn = document.getElementById('hamburger-btn');
    const sidenav = document.getElementById('mySidenav');
    const closeSidenavBtn = document.getElementById('close-sidenav-btn');

    hamburgerBtn.addEventListener('click', function() {
        sidenav.classList.add('sidenav-open');
    });

    closeSidenavBtn.addEventListener('click', function() {
        sidenav.classList.remove('sidenav-open');
    });

    // Close the sidenav when clicking outside of it
    document.addEventListener('click', function(event) {
        // Check if the click is outside the sidenav and not on the hamburger button
        if (!sidenav.contains(event.target) && !hamburgerBtn.contains(event.target)) {
            sidenav.classList.remove('sidenav-open');
        }
    });
});
</script>



</body>
</html>
